$primary-color: #038ec3;
$bg: darken($primary-color, 33%);
$top-bg: darken($bg, 4%);
$top-height: 45px;

$font-size: 22pt;

$sqr-color: adjust-color($primary-color, $lightness: 25%, $saturation: -75%); //#000;
$sqr-bg: #fff;

$scrollbar-width: 15px;

$tick-size: 42px;

::selection {
	background: #0cf;
	color: #000;
	text-shadow: none;
}
::-webkit-scrollbar {
	width:  $scrollbar-width;
	height: $scrollbar-width;
	background-color: $bg;
}
::-webkit-scrollbar-thumb {
	min-height: $scrollbar-width;
	min-width:  $scrollbar-width;
	background-color: lighten($bg, 10);

	&:hover, &:active {
		background-color: lighten($bg, 15);
	}
}

textarea, .autocomplete {
	&::-webkit-scrollbar {
		background-color: #fff;
	}
	&::-webkit-scrollbar-thumb {
		background-color: darken(#fff, 15);

		&:hover, &:active {
			background-color: darken(#fff, 25);
		}
	}
}

body, input, textarea, select {
	font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}

body {
	margin: 0;
	padding: 0;
	font-size: $font-size;
	background: $bg;
	color: #fff;
	overflow-y: scroll;
}

a {
	color: inherit;
	text-decoration: none;
}

#main {
	padding: $top-height 0 0;
}

#top {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	padding: 5px 10px;
	width: 100%;
	height: $top-height;
	font-size: 16pt;
	background: $top-bg;
	color: #fff;
	white-space: nowrap;
	box-sizing: border-box;

	.top-left {
		float: left;
	}

	.top-right {
		float: right;
	}
}

#top, #main {
	min-width: 1000px;
}

#info-bar {
	$color: lighten($bg, 80);
	$rate_size: 78px;

	height: 0;
	box-sizing: border-box;
	position: fixed;
	bottom: 0;
	left: 0;
	// right: $scrollbar-width;
	width: 100%;
	padding: 0;
	background: rgba($top-bg, 0.95);
	font-size: 22pt;
	color: $color;
	pointer-events: none;

	span, i {
		display: inline;
	}

	.hide-from-bar {
		display: none;
	}

	.info-wrapper {
		margin: 0.5em 1.5em 0 $rate_size + 30;
		line-height: 1.3em;
	}

	.titles {
		display: block;
		white-space: nowrap;
		padding-bottom: .33em;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.title {
		display: inline !important;

		&:empty {
			display: none !important;
		}

		&.title-orig {
			font-size: 1.5em;
			color: #fff;
		}

		&.title-pl:not(:empty) {
			font-size: 1.5em;
			color: #fff;
			margin-right: .5em;

			& + .title {
				font-size: 1.2em;
				color: $color;

				&:before { content: '('; }
				&:after  { content: ')'; }
			}
		}
	}

	.rates {
		display: block;
		left: .5em;
		top: .2em;
		right: auto;
		bottom: auto;
		width: $rate_size;

		i {
			line-height: $rate_size;
			width:  $rate_size;
			height: $rate_size;
			background-image: url(img/gfx.png);
			font-size: $rate_size * 0.375;
			margin: 0 0 .5em;
			text-indent: -7px;

			&:empty {
				display: none !important;
			}

			&.filmweb_rate {
				background-position: 0 0;
			}
			&.imdb_rate {
				background-position: 0 -96px;
			}
		}
	}

	.details {
		clear: both;
	}
	.genres, .duration, .year {
		margin-right: 1em;
		background-position: left center;
		background-repeat: no-repeat;
	}
	.desc {
		margin-top: .33em;
		display: block;
	}
}

.square-btns {
	float: left;
	margin-right: 8px;
	$sqr-bg-in: mix($sqr-bg, $top-bg, 70);
	$sqr-bg-in: $sqr-color;

	a {
		float: left;
		width:  24px;
		height: 24px;
		cursor: pointer;
		margin: 3px 3px 0 0;
		color: $sqr-color;
		border: 2px solid $sqr-bg-in;
		background: $sqr-bg-in;
		background-image: url(img/gfx.png);
		-webkit-user-select: none;

		&:hover {
			border-color: $sqr-bg;
			box-shadow: inset 0 0 12px $sqr-bg;
		}

		&.current {
			border-color: $sqr-bg;
			background-color: $sqr-bg;
		}
	}

	$size: 24px;
	$cols: 8;
	$col: 0;
	$row: 0;
	@each $icon in
		rates-filmweb,
		rates,
		marked,
		time,
		tiles,
		plus,
		reset,
		az,
		rates-imdb,
		bar,
		dice,
		refresh,
		list,
		minus,
		path,
		year
	{
		.#{$icon} {
			background-position: (-96px - $col * $size) (-120px - $row * $size);
		}
		$col: $col + 1;
		@if $col % $cols == 0 {
			$row: $row + 1;
			$col: 0;
		}
	}
}

#filter {
	float: left;
	margin: 3px 0 0 0;

	.input {
		display: block;
		position: relative;

		#qclear {
			display: none;
			position: absolute;
			top:   4px;
			right: 4px;
			width:       22px;
			height:      22px;
			line-height: 17px;
			text-align: center;
			font-size: 22px;
			font-weight: bold;
			cursor: pointer;
			background: darken($primary-color, 20%);
			color: #fff;
			opacity: 0.8;

			&:hover {
				opacity: 1;
			}
		}
	}

	input {
		display: block;
		padding: 0 5px;
		width: 11em;
		height: 30px;
		line-height: 26px;
		font-size: 0.9em;
		border: 1px solid $top-bg;
		background: $sqr-bg;
		color: #333;
		box-sizing: border-box;
		-webkit-transition: all 0.2s;

		&:focus {
			outline: none;
			border-color: $primary-color;
			box-shadow: 0 0 0 3px rgba(lighten($primary-color, 20%), .9);
		}
	}
}

#loading-bar {
	position: absolute;
	width: 100%;
	height: $top-height;
	left: 0;
	top: 0;
	z-index: 100;
	display: none;

	.bg-overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background: rgba($top-bg, .5);
	}
}

@-webkit-keyframes rotation {
	0%   { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

.spinner {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	margin: -3px 10px 0 7px;
    width:  22px;
    height: 22px;
    border-radius: 100%;
    border: 6px solid rgba($primary-color, .25);
	visibility: hidden;
	opacity: 0;

    i {
        content: "";
        position: absolute;
        height: 22px;
        width:  22px;
        top:   -6px;
        left:  -6px;
        border: 6px solid;
        border-color: $primary-color transparent transparent;
        border-radius: 100%;
        -webkit-animation: rotation .8s infinite linear;
    }

    &.working {
    	opacity: 1;
    	visibility: visible;
    }
}

.files {
	margin: 20px 20px 250px;
	padding: 0;
	list-style: none;
	text-align: left;
}

// view as a list of titles
.list {
	text-align: left;

	.film {
		width: 100%;
		margin: 0 0 .5em;
		padding: .1em .5em;
		text-align: left;
		line-height: 1.2em;
		background: $bg + #fff*0.05;
		position: relative;

		&.active {
			background: ($bg * 1.1) + (#fff*0.1);
		}

		.play {
			display: block;
		}

		.cover-wrap {
			min-height: 0;
			display: inline;
			position: static;
		}

		.hide-on-list {
			display: none;
		}
	}
}

.film {
	display: inline-block;
	margin: 0;
	padding: 15px 10px;
	vertical-align: top;
	text-align: center;
	line-height: 1.15em;
	box-sizing: border-box;

	// tile layout
	$min_in_row: 3;
	$max_in_row: 6;
	$min_width: 280px;

	width: 0% + (100/$min_in_row);
	font-size: 1em + ($min_in_row - $max_in_row + 1)/10;

	@for $i from $min_in_row through $max_in_row {
		@media all and (min-width: $min_width * $i)
		{
			width: 0% + (100/$i);
			font-size: 1em + ($i - $max_in_row + 1)/10;
		}
	}

	.hide, .hide-on-tiles {
		display: none;
	}

	.show-marked & {
		display: none !important;
	}
	.show-marked &.marked {
		display: inline-block !important;

		.mark-tick {
			display: none;
		}
	}

	.play {
		cursor: pointer;
		text-decoration: none;
		outline: none;

		.cover, .title {
			opacity: 0.8;
		}

		&:hover, &:focus {
			.cover, .title {
				opacity: 1;
			}

			.cover {
				box-shadow: 0 0 55px rgba(255, 255, 255, 0.15), 0 0 5px 2px rgba(255, 255, 255, 0.4);
				-webkit-transition: all 0.15s;
			}

			.mark-tick {
				display: inline-block;
			}
		}

		&.selected {
			color: rgb(255, 225, 0);

			.cover, .title {
				opacity: 1;
			}

			.cover {
				border-color: rgb(255, 225, 0);
				box-shadow: 0 0 55px rgba(255, 225, 0, 0.1), 0 0 35px rgba(255, 225, 0, 0.15), 0 0 5px 3px rgba(255, 225, 0, 0.3);
			}
		}
	}

	&.menu {
		.play {
			color: rgb(72, 192, 255);

			.cover, .title {
				opacity: 1;
			}

			.cover {
				border-color: rgb(72, 192, 255);
				box-shadow: 0 0 55px rgba(72, 192, 255, 0.1), 0 0 35px rgba(72, 192, 255, 0.15), 0 0 5px 3px rgba(72, 192, 255, 0.3);
			}
		}
	}

	.cover-wrap {
		display: inline-block;
		position: relative;
		vertical-align: middle;
		min-height: 10em;
		-webkit-user-select: none;

		.mark-tick {
			display: none;
			position: absolute;
			right: 5px;
			top:   5px;
			background: transparent;
			width: 0;
			height: 0;
			border: $tick-size solid;
			border-color: rgba(#aaa, .75) rgba(#aaa, .75) transparent transparent;
			-webkit-transition: border 0.2s;

			&:after {
				content: '';
				position: absolute;
				top:   -32px + floor($tick-size/16);
				right: -32px + floor($tick-size/16);
				width:  32px;
				height: 32px;
				background: url(img/gfx.png) -256px -64px no-repeat;
			}

			&:hover {
				border-color: rgba(#aaa, 1) rgba(#aaa, 1) transparent transparent;
			}
		}

		.info {
			pointer-events: none;

			span {
				display: none !important;
			}
		}
	}

	&.marked {
		.mark-tick {
			display: block;
			border-color: rgba(#2b0, 1) rgba(#2b0, 1) transparent transparent;

			&:hover {
				border-color: rgba(#2b0, .75) rgba(#2b0, .75) transparent transparent;
			}
		}
	}

	.list & {
		.mark-tick {
			top: 0;
			right: 0;
			border-width: 26px;

			&:after {
				top: -26px;
				right: -26px;
			}
		}
	}

	.cover {
		display: block;
		max-width:  10em * 0.8;
		height: 10em;
		line-height: 0;
		background: $bg * 0.6;
		border: 5px solid $bg * 0.6;
		border-radius: 2px;
	}

	.title {
		display: block;
		padding: 5px 0;
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		letter-spacing: .05em;

		span {
			padding: 20px;
		}
	}
}

.info {
	$space: 5px;
	$rate_size: 54px;

	span {
		display: none;
	}

	.rates {
		display: none;
		position: absolute;
		right: -$space;
		bottom: -$space;

		.show-rates & {
			display: block !important;
		}

		.list & {
			right: .5em;
			bottom: 50%;
			margin-bottom: -$rate_size/2;
		}

		i {
			display: inline-block;
			z-index: 2;
			margin-left: -.33em;
			text-align: center;
			line-height: $rate_size * 0.99;
			width:  $rate_size;
			height: $rate_size;
			letter-spacing: -1px;
			text-indent: -5px;
			background: url(img/gfx.png) no-repeat -90px 0;
			font-family: "Segoe UI Semibold", "Segoe UI", Arial, Helvetica, sans-serif;
			font-size: $rate_size * 0.375;
			font-style: normal;
			font-weight: normal;

			&.filmweb_rate {
				color: #fff;
				text-shadow: 0 1px 0 #000;
			}
			&.imdb_rate {
				color: #000;
				text-shadow: 0 1px 0 #fe8;
				background-position: -90px -54px;
			}
		}
	}
}

.context-menu-list {
	margin: 0;
	padding: 3px;
	display: inline-block;
	position: absolute;
	list-style-type: none;
	background: #fff;
	color: #000;
	font-size: 19px;
	line-height: 32px;
	-webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5), 3px 4px 8px rgba(0, 0, 0, 0.2);

	&.fixed {
		position: fixed;
	}
}

.context-menu-item {
	padding: 4px 10px 4px 44px;
	position: relative;
	border: 1px solid transparent;
	white-space: nowrap;
	-webkit-user-select: none;

	&.hover {
		cursor: pointer;
		border-color: #70c0e7;
		background-color: #e6f7ff;

		.shortcut {
			color: #16d + #fff*0.3;
		}
	}

	&.disabled {
		display: none;
	}

	& > .context-menu-list {
		display: none;
		/* re-positioned by js */
		right: -5px;
		top: 5px;
	}

	&.hover > .context-menu-list {
		display: block;
	}

	&[class*=" icon-"] {
		&:before {
			content: '';
			float: left;
			margin-left: -40px;
			width: 32px;
			height: 32px;
			background: url(img/gfx.png) no-repeat;
		}
	}

	$size: 32px;
	$cols: 4;
	$col: 0;
	$row: 0;
	@each $icon in
		filmweb,
		imdb,
		edit,
		subtitles,
		google,
		copy,
		mark,
		unmark,
		open-folder
	{
		&.icon-#{$icon}:before {
			background-position: (-160px - $col * $size) (0 - $row * $size);
		}
		$col: $col + 1;
		@if $col % $cols == 0 {
			$row: $row + 1;
			$col: 0;
		}
	}

	&.context-menu-separator {
		margin: .2em 0;
		padding: 0;
		border-bottom: 1px solid #ccc;
	}

	.context-menu-submenu:after {
		content: ">";
		color: #666;
		position: absolute;
		top: 0;
		right: 3px;
		z-index: 1;
	}

	.context-menu-accesskey {
		text-decoration: underline;
	}
}

.blockUI {
	&.blockMsg {
		position: fixed;
		top: 0;
		left: 50%;
		height: 100%;
		display: table;
		z-index: 100;

		.blockCentrify, input, select, textarea {
			font-size: $font-size * 0.9;
		}

		.blockCentrify {
			position: relative;
			top: 0;
			left: -50%;
			display: table-cell;
			vertical-align: middle;

			.blockWrap {
				width: auto;
				margin: 0 auto;
				text-align: left;
				background: #fff;
				color: #000;
				border: 1px solid $bg*3;
				box-shadow: 0 5px 15px 2px rgba(0,0,0,0.5);
			}

			.blockHeader {
				position: relative;

				.blockTitle {
					display: block;
					padding: .1em 3em .3em .5em;
					font-weight: 600;
					background: $bg;
					background: -webkit-gradient(linear, left top, left bottom, from($bg * 1.5), to($bg));
					color: #fff;

					.normal {
						font-weight: normal;
					}
				}
			}

			.blockContent {
				padding: 20px;
				min-width: 200px;
				overflow: auto;
				overflow-x: hidden;

				&::-webkit-scrollbar {
					width:  6px;
					height: 6px;
					background-color: #fff;
				}
				&::-webkit-scrollbar-thumb {
					min-height: 6px;
					min-width:  6px;
					background-color: #fff*0.85;

					&:hover, &:active {
						background-color: #fff * 0.75;
					}
				}

				p:first-child {
					margin-top: 0;
				}

				h3, h4 {
					margin: 0 0 .5em;
				}
			}
		} /* blockCentrify */
	}
}

.blockClose {
	cursor: pointer;
	position: absolute;
	right: .25em;
	top:   -1px;

	font-size: 27px;
	line-height: 22px;

	width:  48px;
	height: 28px;
	background: #c75050;
	color: #fff;
	text-align: center;

	-webkit-transition: all 0.2s;

	&:hover {
		background: #e04343;
	}
}

.ui-tooltip {
	position: absolute;
	z-index: 9999;
	max-width: 16em;
	font-size: 16pt;
	padding: .33em .5em;
	text-align: center;
	margin: 0 .5em;
}

.ui-tooltip, .arrow:after {
	background: lighten($bg, 5);
	border: 2px solid #fff;
}
.arrow {
	width: 70px;
	height: 16px;
	overflow: hidden;
	position: absolute;
	left: 50%;
	margin-left: -35px;
	bottom: -16px;
}
.arrow.top {
	top: -16px;
	bottom: auto;
}
.arrow.left {
	left: 20%;
}
.arrow:after {
	content: "";
	position: absolute;
	left: 20px;
	top: -20px;
	width: 25px;
	height: 25px;
	box-shadow: 6px 5px 9px -9px black;
	-webkit-transform: rotate(45deg);
}
.arrow.top:after {
	bottom: -20px;
	top: auto;
}

#film_path {
	max-width: 32em;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-weight: normal;
	color: #666;
}

.form {
	margin: 0;
	padding: 0;
	min-width: 768px;

	a {
		color: #06a;
		cursor: pointer;
	}

	input, select, textarea, .btn {
		box-sizing: border-box;
		margin: 0;
		padding: .1em .25em;
		line-height: 1.4em;
		border: 2px solid #eee;
		background: #fff;
		-webkit-transition: all 0.2s;

		&:hover {
			border-color: #ccc;
		}

		&:focus, &.focus {
			outline: none;
			border-color: lighten($primary-color, 10%);
			box-shadow: 0 0 0 3px rgba(lighten($primary-color, 20%), .9);
		}

		&[disabled] {
			border-color: #eee;
			background: #fafafa;
			color: #999;
		}
	}

	textarea {
		resize: none;
	}

	.btn {
		display: inline-block;
		padding: .06em .5em .18em;
		border: 1px solid #fff;
		background: #fff;
		color: #000;
	}

	input[type=submit] {
		padding: 0 .5em .12em;
		background: #5a0;
		border-color: #5a0;
		border-bottom-color: #390;
		color: #fff;
		cursor: pointer;

		&:hover {
			background: #5a0 * 1.15;
			border-color: #5a0 * 1.15;
			border-bottom-color: #390 * 1.15;
		}
	}

	dt, dd {
		box-sizing: border-box;
		float: left;
		margin: 0 0 .7em;
		padding: 0;
	}

	dt {
		clear: both;
		width: 25%;

		label {
			display: block;
			margin: .2em .5em 0 0;
			white-space: nowrap;
		}

		&.for-short {
			clear: none;
			text-align: right;
			padding-right: .5em;
		}
	}

	dd {
		width: 75%;

		input[type=text], select, textarea {
			width: 100%;
		}

		&.full-width {
			width: 100%;
			float: none;
			clear: both;
		}

		&.short {
			width: 25%;
		}

		&.with-rate {
			padding-right: 80px;
			position: relative;

			.rate, .star {
				width: 60px;
				position: absolute;
				top: 0;
				right: 0;
				text-align: center;
			}

			.rate {
				z-index: 2;
				text-indent: 0;
				text-align: center;
				padding-left:  0;
				padding-right: 0;
				background: transparent;
				color: #fff;
				font-weight: bold;
			}

			.star {
				z-index: 1;
				font-size: 2.5em;
				height: 100%;
				line-height: .5em;
				background: #e02;
				overflow: hidden;
				color: rgba(255, 255, 255, 0.2);

				&.imdb {
					background: #f9b200;
				}
			}
		}

		&.submit {
			margin: 1em -20px -20px;
			padding: 20px;
			background: #f1f1f1;
			width: auto;
			float: none;
			clear: both;
			text-align: right;

			input, a {
				vertical-align: top;
			}

			a {
				margin-left: .2em;
			}
		}
	}

	.grey {
		font-size: 0.8em;
		color: #aaa;
	}
}

.input-wrap {
	position: relative;
}

.autocomplete {
	position: absolute;
	top: 100%;
	left: 0;
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	padding: .2em 0 0;
	background: #fff;
	border: 2px solid $bg * 9;
	max-height: 10em;
	overflow: auto;
	outline: none;
	z-index: 3;
	cursor: default;

	border-top: none;
	box-shadow: 0 3pt 0 $bg * 10, -3pt 3pt 0 $bg * 10, 3pt 3pt 0 $bg * 10;

	li {
		display: block;
		padding: .2em .5em .3em;
		background: #fff;
		cursor: pointer;

		&:hover {
			background: #eee;
		}

		&.not-found {
			color: #b00;
			text-align: center;
		}

		span {
			display: block;
			line-height: 1.25em;
		}

		b {
			font-weight: normal;
			background: rgba(255, 245, 150, 0.8);
		}

		.details {
			font-size: 0.7em;
		}
	}
}

.abstract {
	display: none;
}